<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">SkeletonAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="ion-text-center titulo">Formulario de Registro</h1>
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list *ngIf="edad >=17">
            <!-- Campo Nombre -->
            <ion-item>
              <ion-label position="floating">Nombre <ion-text color="danger">(*)</ion-text></ion-label>
              <ion-input type="text" [(ngModel)]="nombre"></ion-input>
            </ion-item>

            <!-- Campo Apellido -->
            <ion-item>
              <ion-label position="floating">Apellido <ion-text color="danger">(*)</ion-text></ion-label>
              <ion-input type="text" [(ngModel)]="apellido"></ion-input>
            </ion-item>

            <!-- Campo Email -->
            <ion-item>
              <ion-label position="floating">Email <ion-text color="danger">(*)</ion-text></ion-label>
              <ion-input type="email" [(ngModel)]="email"></ion-input>
            </ion-item>

            <!-- Campo Teléfono -->
            <ion-item>
              <ion-label position="floating">Teléfono</ion-label>
              <ion-input type="tel" [(ngModel)]="telefono"></ion-input>
            </ion-item>

            <!-- Campo Género -->
            <ion-item>
              <ion-label>Género</ion-label>
              <ion-select [(ngModel)]="genero">
                <ion-select-option value="masculino">Masculino</ion-select-option>
                <ion-select-option value="femenino">Femenino</ion-select-option>
                <ion-select-option value="otro">Otro</ion-select-option>
              </ion-select>
            </ion-item>

            <!-- Campo Dirección -->
            <ion-item>
              <ion-label position="floating">Dirección</ion-label>
              <ion-input type="text" [(ngModel)]="direccion"></ion-input>
            </ion-item>



            <!-- Campo Ciudad -->
            <ion-item>
              <ion-label position="floating">Ciudad</ion-label>
              <ion-input type="text" [(ngModel)]="ciudad"></ion-input>
            </ion-item>

            <!-- Campo País -->
            <ion-item>
              <ion-label position="floating">País</ion-label>
              <ion-input type="text" [(ngModel)]="pais"></ion-input>
            </ion-item>


            <!-- Botón de Registro -->
            <ion-row>
              <ion-col class="button">
                <ion-button expand="block" (click)="regitrar()">Registrar</ion-button>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>