.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 30px;
}

.large-text {   /*la palabra bienvenido*/
  font-size: 3em; 
  margin-top: 80px;
  font-weight: bold;
}

.app-title {  /*la palabra skeletonapp*/
  text-align: center;
  font-size: 1.5em; 
  margin-top: 10px;
}

.footer {
  font-size: 1em;
  color: black;
  position: absolute;
  bottom: 10px;
  width: 50%;
  font-weight: bold;
  padding-left: 10px;
}

.enlace {   /*la palabra crea tu cuenta*/
  padding: 5px;
  font-size: 1em;
  color: #007bff; 
}

.button {
  margin-top: 20px; 
}
/*
ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  margin-bottom: 15px;
}

ion-button {
  margin-top: 20px;
}

ion-input {
  --padding-start: 0;
}

.center-text {
  text-align: center;
}
*/