<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="app-title">SkeletonAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center-container">
    <h1 class="ion-text-center large-text">Bienvenido!</h1>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input [(ngModel)]="user.username" required minlength="3" maxlength="8" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [(ngModel)]="user.password" required minlength="4" maxlength="4" type="password"></ion-input>
          </ion-item>
          <ion-col class="button">
            <ion-button expand="block" (click)="login()">Ingresar</ion-button>
          </ion-col>
          <ion-col>
            <div class="ion-text-center enlace">
              <a href="registrar">Crea tu Cuenta Gratis</a>
            </div>
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="footer">App desarrollada por</div>
</ion-content>