<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Bienvenido!</h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Usuario</ion-label>
          <ion-input [(ngModel)]="user.username" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input [(ngModel)]="user.firstName" #firstNameInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Apellido</ion-label>
          <ion-input [(ngModel)]="user.lastName" #lastNameInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Nivel de Educación</ion-label>
          <ion-select [(ngModel)]="user.educationLevel">
            <ion-select-option value="Primaria">Primaria</ion-select-option>
            <ion-select-option value="Secundaria">Secundaria</ion-select-option>
            <ion-select-option value="Universidad">Universidad</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Fecha de Nacimiento</ion-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="user.birthDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </ion-item>
        <ion-button expand="full" (click)="clearInputs()">Limpiar</ion-button>
        <ion-button expand="full" (click)="showInfo()">Mostrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>