<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SkeletonAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="center-text large-text">Bienvenido!</h1>
  <div class="user-info">Usuario: {{ user.username }}</div>
  <div class="additional-info">Información Adicional</div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input placeholder="Ingrese Nombre" [(ngModel)]="user.firstName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Apellido</ion-label>
          <ion-input placeholder="Ingrese Apellido" [(ngModel)]="user.lastName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Nivel de Educación</ion-label>
          <ion-select placeholder="Seleccione Nivel" [(ngModel)]="user.educationLevel">
            <ion-select-option value="Primaria">Primaria</ion-select-option>
            <ion-select-option value="Secundaria">Secundaria</ion-select-option>
            <ion-select-option value="Universidad">Universitaria</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="ion-padding-horizontal">
          <ion-label position="stacked" class="ion-padding-bottom">Fecha Nacimiento</ion-label>
          <ion-input type="date" [(ngModel)]="data.nacimiento"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button expand="full" (click)="clearInputs()">Limpiar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full" (click)="showInfo()">Mostrar</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="footer">App desarrollada por</div>
</ion-content>