<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">SkeletonAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h1 class="ion-text-center large-text">Bienvenido!</h1>
    <div class="user-info">Usuario: {{ user.username | uppercase }}</div>
    <div class="additional-info">Información Adicional</div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Nombre <ion-text color="black">(*)</ion-text></ion-label>
            <ion-input placeholder="Ingrese Nombre" [(ngModel)]="user.firstName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Apellido <ion-text color="black">(*)</ion-text></ion-label>
            <ion-input placeholder="Ingrese Apellido" [(ngModel)]="user.lastName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Nivel de Educación <ion-text color="black">(*)</ion-text></ion-label>
            <ion-select placeholder="Seleccione Nivel" [(ngModel)]="user.educationLevel">
              <ion-select-option value="Primaria">Primaria</ion-select-option>
              <ion-select-option value="Secundaria">Secundaria</ion-select-option>
              <ion-select-option value="Universidad">Universitaria</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="ion-text-left">
            <ion-label position="stacked" class="ion-padding-bottom">Fecha Nacimiento <ion-text
                color="black">(*)</ion-text></ion-label>
            <ion-input type="date" [(ngModel)]="data.nacimiento"></ion-input>
          </ion-item>
          <ion-row>
            <ion-col class="button">
              <ion-button expand="block" (click)="clearInputs()">Limpiar</ion-button>
            </ion-col>
            <ion-col class="button">
              <ion-button expand="block" (click)="showInfo()">Mostrar</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="footer">App desarrollada por</div>
</ion-content>