.content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.titulo {
  font-size: 5em;
  margin: 3;
  font-weight: bold;
}

.subtitulo {
  font-size: 1em;
  margin: 0;
}

.icon-center {
  font-size: 5em;
  margin: 20px 0;
  color: blue;
}

.home-button {
  margin-top: 20px;
}
